/* Notificação de Atualização */
#update-notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1abc9c;
    color: #001f3f;
    padding: 15px 25px;
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    display: none; /* Escondido por padrão */
    align-items: center;
    gap: 15px;
    z-index: 9999;
    font-weight: bold;
    border: 2px solid white;
}

#update-notification button {
    background-color: #001f3f;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

#update-notification button:hover {
    background-color: #003366;
    transform: scale(1.05);
}
