* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #dcdcdc;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}